/* ----------- mobile styles ----------- */

/* ----------- base ----------- */
html, body {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "Futura-Book";
    src: url("/assets/fonts/futura-book.ttf") format("truetype");
  }
@font-face {
    font-family: "Futura-Heavy";
    src: url("/assets/fonts/futura-heavy.ttf") format("truetype")
}
body * {
    box-sizing: border-box;
    font-family: 'Futura-Book', sans-serif;
}
img {
    width: 100%;
}
header, section {
    margin-bottom: 120px;
}
h1, h2, h3 {
    font-family: 'Futura-Heavy', sans-serif;
    font-size: 1.75em;
    text-align: left;
}
h4 {
    font-family: 'Futura-Heavy', sans-serif;
    font-size: 1.3em;
    line-height: 1.55em;
    text-align: left;
}
h2 {
    background: linear-gradient(to left, rgb(171, 0, 255), rgb(0, 123, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
a {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}
/* add in body, font, text and link styles */

/* ----------- layout ----------- */
.hero.container, .features.container, .products.container {
    margin-bottom: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    padding: 0 15px;
    max-width: 1200px;
    margin: auto;
}
.nav-col {
    width: 50%;
}

.nav-show-list {
    display: none;
}
.nav-show-icon {
    display: block;
}
.features__header, .products__header {
    width: 85%;
}
/* ----------- blocks ----------- */
.nav {
    position: fixed;
    width: 100%;
    background-color: white;
}
.nav__wrapper {
    display: flex;
    align-items: center;
    padding-top: 45px;
}
.nav__logo-wrapper {
    max-width: 140px;
}
.nav__menu-icon-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.nav__menu-line {
    display: block;
    margin: 3.5px 0;
    height: 4px;
    width: 30px;
    border-radius: 10px;
    background-image: linear-gradient(to left, rgb(171, 0, 255), rgb(0, 123, 255));
}
.nav__menu-line--short {
    width: 22px;
}
.nav__menu-line--short:hover {
    width: 30px;
}
.hero {
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    background-image: url(/assets/images/backgrounds/hero-bg-cards.png), url(/assets/images/backgrounds/hero-bg-texture.png);
    background-size: 100vw;
    background-repeat: no-repeat;
    background-position: center center;
}
.hero__content {
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.hero__img {
    display: flex;
    align-self: center;
    margin: 0;
    max-width: 764px;
    border-radius: 10px;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, .25);
}

.features__img {
    border-radius: 10px;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, .25);
    /* margin-top: 3em; */
}
.features__cards {
    display: flex;
    flex-direction: column;
    margin: 4em 0 6em 0;
}
.features__cards__col {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em 1.5em;
    border-radius: 10px;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, .25);
    background-color: white;
    margin: 1em 0;
}
.features__icon__wrapper {
    max-width: 8%;
    margin-left: 2em;
}
.products__logos {
    display: grid;
    grid-template: 2 / 3;
    grid-gap: 33%;
}
.products__img--5 {
    grid-column: span 2;
    grid-row: 3;
    padding: 0 33%;
}
.products__col {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4em;
}
.footer {
    background-image: url(/assets/images/backgrounds/footer-bg-texture.png), linear-gradient(-135deg, rgb(171, 0, 255), rgb(0, 123, 255));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.footer__content {
    height: 50vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.footer__contact {
    /* border: 1px solid black; */
    /* height: 50vh; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.footer__links {
    width: 100%;
}
.footer__links__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: flex-end;
    margin-block-start: 4em;
    /* margin-block-end: 0; */
}
.footer__list-item {
    padding: 10px 0;
}
.footer__list-item a {
    color: white;
}
/* ----------- blocks ----------- */

.nav__button {
    background-image: linear-gradient(to left, rgb(171, 0, 255), rgb(0, 123, 255));
    border-radius: 100px;
    padding: 15px;
    text-transform: uppercase;
    font-size: 16px;
    color: white;
    display: flex;
    align-items: center;
}
.form__button {
    color: rgb(96, 54, 255);
    border-radius: 100px;
    border: 0;
    padding: 15px 30px;
    text-transform: uppercase;
    font-weight: 700;
    background-color: white;
}
.form__input {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 100px;
    padding: 10px;
    width: 100%;
    border: 0;
    margin-right: 15px;
}
.form__input::placeholder {
    font-size: 15px;
    font-weight: 500;
    padding-left: 20px;
    color: rgba(255, 255, 255, 0.664);
}



/* ----------- desktop styles ----------- */

@media (min-width: 600px) {
/* layout */
    .features__header, .products__header {
        justify-content: center;
        display: flex;
    }
    .products__header {
        align-self: flex-end;
    }
    .container {
        padding: 0 100px;
        max-width: 100vw;
    }
    .nav-show-icon {
        display: none;
    }
    .nav-show-list {
        display: block;
    }
    .form {
        width: 50%;
    }
    .features__cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%
    }
    .features__cards__col {
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 10px;
        box-shadow: 1px 1px 25px rgba(0, 0, 0, .25);
        background-color: white;
        margin: 1em 0;
        width: 28%;
    }
    .features__cards--text {
        font-size: inherit;
        font-size: 1.15em;
        line-height: 1.75em;
    }
/* blocks */
    .features__img {
        border-radius: 20px;
    }
    .nav__list {
        display: flex;
        list-style: none;
        justify-content: flex-end;
        align-items: center;
    }
    .nav__list-item {
        padding: 0 15px;
    }
    h1, h2 {
        font-size: 2.5em;
    }
    .products__logos {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 8%;
        grid-template-rows: repeat(1);
        align-items: center;
    }
    .products__img--5 {
        grid-column: 3;
        grid-row: 1;
        padding: 0;
    }

    h2 {
        width: 50vw;;
    }
} 